.circle {
	border-radius: 50%;
	width: 300px;
	height: 300px;
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--C-HE98Fg--/c_scale,fl_progressive,q_80,w_800/eibgv7kctah62iddzywm.jpg");
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  transition: 2s;
  -webkit-filter: blur(1.5px) grayscale(1);
  margin:auto;
}
.circle:hover {
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--C-HE98Fg--/c_scale,fl_progressive,q_80,w_800/eibgv7kctah62iddzywm.jpg");
  width: 500px;
	height: 500px;
  opacity: .5;
  -webkit-filter: blur(0px);
}

.text-name {
  color: #000;
  opacity:.0;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
  line-height: 500px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Actor';
}

.text-name:hover {
  opacity:1;
  color: #000;
  font-size: 65px;
  -webkit-transition: 1.5s; /* For Safari 3.1 to 6.0 */
  transition: 1.5;
  transition-delay: .4s;
}

.btn.btn-default {
  line-height: 50px;
  margin-bottom: 10px;
  background: transparent;
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Actor';
  -webkit-filter: blur(1px);
  border-radius: 8%;
  cursor: pointer;
}

.btn.btn-default:focus {
  outline:0 !important;
}
