.circle {
  position: absolute;
  top: 25%;
  right: 35%;
	border-radius: 50%;
	width: 300px;
	height: 300px;
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--C-HE98Fg--/c_scale,fl_progressive,q_80,w_800/eibgv7kctah62iddzywm.jpg");
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
  -webkit-filter: blur(1.5px) grayscale(1);
  margin:auto;
  transition-delay: .2s;
}
.circle:hover {
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--C-HE98Fg--/c_scale,fl_progressive,q_80,w_800/eibgv7kctah62iddzywm.jpg");
  width: 500px;
	height: 500px;
  opacity: .5;
  -webkit-filter: blur(0px);
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  transition: 2s;
}

.text-name {
  color: #000;
  opacity:.0;
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
  line-height: 500px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Actor';
}

.text-name:hover {
  opacity:1;
  color: #000;
  font-size: 65px;
  -webkit-transition: 1.5s; /* For Safari 3.1 to 6.0 */
  transition: 1.5;
  transition-delay: .8s;
}

.btn.btn-default {
  line-height: 50px;
  margin-bottom: 10px;
  background: transparent;
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Actor';
  -webkit-filter: blur(1px);
  cursor: pointer;
}

.btn.btn-default:focus {
  outline:0 !important;
}

.btn.btn-default:hover {
  border-radius: 3px;
  position: relative;
  background-color: #ECFBFF;
  border: 2px solid #A6E0EE;
  color: #2D7586;
}

div#container-two div.skills{
  display: none;
  position: absolute;
  top: 25%;
  right: 35%;
  width: 300px;
  height: 300px;
  background-color: yellow;
}

#slider {
    position: absolute;
    width: 100%;
    height: 100px;
    opacity: .5;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUobJNefSZvfk48ugMxBIQnOF1Fh46ICu6n9g8lKzslbtZaRqa");
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in {
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.title {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Actor';
  opacity: 1 !important;
}
