.circle {
  position: absolute;
  top: 25%;
  right: 35%;
	border-radius: 50%;
	width: 300px;
	height: 300px;
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--C-HE98Fg--/c_scale,fl_progressive,q_80,w_800/eibgv7kctah62iddzywm.jpg");
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
  -webkit-filter: blur(1.5px) grayscale(1);
  margin:auto;
  transition-delay: .2s;
  border-style: solid;
  border-width: 2px;

}
.circle:hover {
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--C-HE98Fg--/c_scale,fl_progressive,q_80,w_800/eibgv7kctah62iddzywm.jpg");
  width: 500px;
	height: 500px;
  opacity: .5;
  -webkit-filter: blur(0px);
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  transition: 2s;
  border-style: solid;
  border-width: 2px;

}

.text-name {
  color: #000;
  opacity:.0;
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
  line-height: 500px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Actor';
}

.text-name:hover {
  opacity:1;
  color: #000;
  font-size: 65px;
  -webkit-transition: 1.5s; /* For Safari 3.1 to 6.0 */
  transition: 1.5;
  transition-delay: .8s;
}

.btn.btn-default {
  line-height: 50px;
  margin-bottom: 10px;
  background: transparent;
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Actor';
  -webkit-filter: blur(1px);
  cursor: pointer;
}

.btn.btn-default:focus {
  outline:0 !important;
}

.btn.btn-default:hover {
  border-radius: 3px;
  position: relative;
  background-color: #ECFBFF;
  border: 2px solid #A6E0EE;
  color: #2D7586;
}

div#container-two div.skills{
  display: none;
  position: absolute;
  top: 25%;
  right: 35%;
  width: 300px;
  height: 300px;
  background-color: yellow;
}

#nav {
    position: absolute;
    width: 100%;
    height: 54px;
    opacity: .5;
    background-color:#9bc4ce;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    border-style: solid;
    border-width: 1px;
    color: #2D7586;
}

#nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:25%;
  float:left;
}

#nav a:hover {
  background-color: #ddd;
  color: black;
}

#nav a.active {
  background-color: #4CAF50;
  color: white;
}

footer > ul{
    width:100%;
    position:absolute;
    margin:auto;
    bottom:0;
    background: black;
    padding-top: 20px;
    height: 155px;
}

/* The four columns of links */

footer > ul > li{
    width:25%;
    float:left;
}

footer ul{
    list-style: none;
}

/* The links */

footer > ul > li ul li{
    margin-left:43px;
    text-transform: uppercase;
    font-weight:bold;
    line-height:1.8;
}

footer > ul > li ul li a{
    text-decoration: none !important;
    color:#7d8691 !important;
}

footer > ul > li ul li a:hover{
    color:#ddd !important;
}

footer p{
    width: 90%;
    margin-right: 10%;
    padding: 9px 0;
    line-height: 18px;
    background-color: #058cc7;
    font-weight: bold;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    opacity:0.9;
    cursor:default;

    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

footer > ul > li:hover p{
    opacity:1;
}

footer p:before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 18px;
    margin: 0 12px 0 15px;
    vertical-align: text-bottom;
}

footer p.home{
    background-color: #0096d6;

    background-image:-webkit-linear-gradient(top, #0096d6, #008ac6);
    background-image:-moz-linear-gradient(top, #0096d6, #008ac6);
    background-image:linear-gradient(top, #0096d6, #008ac6);
}

footer p.home:before{
    background-position: 0 -110px;
}

footer p.services{
    background-color: #00b274;

    background-image:-webkit-linear-gradient(top, #00b274, #00a46b);
    background-image:-moz-linear-gradient(top, #00b274, #00a46b);
    background-image:linear-gradient(top, #00b274, #00a46b);
}

footer p.services:before{
    background-position: 0 -129px;
}

footer p.reachus{
    background-color: #d75ba2;

    background-image:-webkit-linear-gradient(top, #d75ba2, #c75496);
    background-image:-moz-linear-gradient(top, #d75ba2, #c75496);
    background-image:linear-gradient(top, #d75ba2, #c75496);
}

footer p.reachus:before{
    background-position: 0 -89px;
}

footer p.clients{
    background-color: #e9ac40;

    background-image:-webkit-linear-gradient(top, #e9ac40, #d89f3b);
    background-image:-moz-linear-gradient(top, #e9ac40, #d89f3b);
    background-image:linear-gradient(top, #e9ac40, #d89f3b);
}

footer p.clients:before{
    background-position: 0 -69px;
}



.slide-in {
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.title {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Actor';
  opacity: 1 !important;
}
